.main_header {
  grid-area: header;
  background-color: #010010;
}

.header_logo {
  display: inline-block;
  width: 11rem;
  height: 2rem;
  margin: 1.3rem 2rem;
  background: url("./../../logo.png") no-repeat;
  background-size: contain;
}

.loginBlock{
  float: right;
  margin: 30px;
  font-weight: bold;
  color:#ffffff;
}

.loginBlock a{
  color:#0088cc;
  transition: all 0.3s;
}

.loginBlock a:hover{
  color:#ffffff;
}
