.page {
  background-color: #18191a;
}

h3{
  font-size: 2rem;
}

.app-wrapper {
  background-color: rgb(45, 43, 43);
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
}

.navBar_wrapper{
  padding: 1rem;
}

.main_content {
  grid-area: content;
  background-color: rgb(63, 65, 74);
}

.navBar_wrapper {
  background-color: rgb(68, 119, 169);
}

a {
  text-decoration: none;
  cursor: pointer;
}
